 body{
     padding-left: 20px;
    background-image: url(Kurao.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     height: 400px;
 }
 .first{
   display: flex;
    margin-left: 500px;
    padding: 20px;
 }
 .h{
   padding-top:400px;
   padding-bottom: 800px;
 }
 h6{
   margin: 20px;
 }
 button{
   border-radius:30px;
   border: none;
   padding: 15px;
   margin: 10px;
 }
 
   
 



 
 
    
    
    
 

    


    


